<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script th:src="@{/javascript/script.js}"> </script>
    <title th:text="${title}">Base Template</title>
  </head>
  <body>
    <!-- this is navbar -->
    <nav class=" fixed-top navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">SmartContactManager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span onclick="togglesidebar()" class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto text-uppercase">
      <li class="nav-item ">
        <a class="nav-link" th:href="@{/user/dashboard}">Home </a>
      </li>
      
      
      <li class="nav-item">
        <a class="nav-link " th:href="@{/user/userProfile}"><span th:text="${user.name}"></span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link " th:href="@{/logout}">Logout </a>
      </li>
      
      
    </ul>
    
  </div>
  
</nav>
  
  <!-- This is Sidebar -->
  
 <div class="sidebar mt-2">
 
 <span onclick="togglesidebar()" class="crossbtn">&times</span>
 
 <a href="#" id="home-link" th:href="@{/user/dashboard}" class="item "><i class="fa-solid fa-house"></i> Home</a>
 <a href="#" id="contacts-link" th:href="@{/user/showContact/0}" class="item"><i class="fa-solid fa-address-card"></i> Contacts</a>
 <a href="#" id="addContact-link" th:href="@{/user/openContact}"  class="item" ><i class="fa-solid fa-user-pen"></i> Add Contact</a>
 <a href="#" id="profile-link" th:href="@{/user/userProfile}"  class="item"><i class="fa-solid fa-circle-user"></i> View Profile</a>
 <a href="#" id="setting-link" th:href="@{/user/setting}" class="item"><i class="fa-solid fa-screwdriver-wrench"></i> Settings</a>
 <a href="#" id="logout-link" th:href="@{/logout}" class="item"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
 <div class="divider"></div>
 </div>
 
 <!-- This is content of the page -->
 
 <div class="content mt-5">
 <i onclick="togglesidebar()" class="fas fa-bars m-3"></i>
 
    <!-- alert area -->
    <div th:if="${session.message}"  class="container" >
      <div th:classappend="${'alert-'+session.message.type}" class="alert text-center" role="alert">
      <span th:text="${session.message.content}"></span>
      <th:block th:text="${#session.removeAttribute('message')}"></th:block>
      </div>
       
</div>
    
    
 
  <div th:replace="${content}">
  
   
  </div>
 
 </div>
  
    
   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/javascript/script.js}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
    
    function deleteContact(cid){
    
    
        swal({
  title: "Are you sure?",
  text: "You want to delete the contact!!!!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    window.location="/user/delete/"+cid ;
    
  } else {
    swal("Your contact is safe!");
  }
});
    
    
    }
    
    
    
    </script>
  </body>
</html>