<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	
	<section>
        
        <div class="card viewContact mr-3 ml-3">
          
          <div class="card-body ">
          
            <h1 class="text-center">Your Contacts</h1>
            
            <!-- Search -->
            
            <div  class="search-container  my-4">
            
            <input onKeyUp="search()" id="search-input" type="text" class="form-control" placeholder="Enter Name to Search Contacts..." />
            
               <div id="search-result" class="search-result">
               
               <h3>This is result</h3>
                <!-- Result will show here -->               
               
               </div>
            
            </div>
            
            
            <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone No.</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="c :${contacts}">
      <th scope="row" th:text="${'SCM2022'+c.cid}">1</th>
      <td >
      <img class="myProfilePicture" th:src="@{'/image/'+${c.cImagePath}}" src="" alt="profileImage" />
      
      <span th:text="${c.cname}"></span></td>
      <td >
      
      <a th:href="@{'/user/'+${c.cid}+'/contact/' }" href="#">
      
        <span th:text="${c.cemail}"></span>
      
      </a>
      
      </td>
      <td th:text="${c.phone}">@mdo</td>
      <td>
      
        <a href="#" th:onclick="|deleteContact(${c.cid})|" class="btn btn-danger btn-small">Delete</a>
      <div class="container mt-2 mr-2">
      
      <form th:action="@{'/user/update/'+${c.cid}}" method="post">
       <button type="submit" class="btn btn-primary btn-small">Update</button>
       </form>
      
      </div>
       
        
      
      </td>
    </tr>
  </tbody>
</table>

   <!-- Pagination area -->
   <nav aria-label="Page navigation example">
   
  <ul class="pagination">
  
    <li th:if="${currentPage != 0 }" class="page-item"><a th:href="@{'/user/showContact/'+ ${currentPage-1}}" class="page-link" href="#">Previous</a></li>
    
    <li th:classappend="${currentPage==i-1 ?'Active' : ''} " th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/showContact/'+ ${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
    
     <li th:if="${currentPage+1 != totalPages }" class="page-item"><a th:href="@{'/user/showContact/'+ ${currentPage+1}}" class="page-link" href="#">Next</a></li>
  </ul>
</nav>
          
          </div>
        
        </div>
	   <script>
	$(document).ready(()=>{
	   $('item').removeClass("active");
	   $("#contacts-link").addClass("active");
	   
	})
	</script>
	
	  
	</section>
</body>
</html>